<div class='form'>
    <h1 class='formHeader'>LOG IN</h1>
    <hr class='divisionLine'>
    <%= render 'form' %>
    <%= link_to "I don't have an account", registration_path, class: ['anotherOption'] %>

    <div class='backgroundSet'></div>
</div>
