<% provide :page_title, 'Log In' %>
<div class='form'>
    <h1 class='form-header'>LOG IN</h1>
    <hr class='division-line'>
    <%= render 'form' %>
    <%= link_to "I don't have an account", registration_path, class: ['another-option'] %>

    <div class='background-set'></div>
</div>
