<div class='vacancy-buttons'>
    <% if current_user&.organization? %>
        <% if current_user.organization.id == vacancy.organization_id %>
            <%= button_to vacancy_path(vacancy), method: :delete, data: { confirm: 'Are you sure you want to delete vacancy?' } do %>
                <%= image_tag 'menuIcons/deleteCross.png' %>
            <% end %>
            <%= link_to edit_vacancy_path(vacancy) do %>
                <%= image_tag 'menuIcons/edit.png' %>
            <% end %>
        <% end %>
    <% end %>
</div>