<% provide :page_title, 'Edit vacancy' %>
<div class='page-title'>
    <h1>Edit vacancy information</h1><%= image_tag 'menuIcons/gear.png' %>
</div>
<%= render 'form', address: vacancy_path(@vacancy), method: :patch %>