<% provide :page_title, 'Create a vacancy' %>
<div class='page-title'>
    <h1>Create a vacancy</h1><%= image_tag 'menuIcons/gear.png' %>
</div>
<%= render 'form', locals: {address: vacancy_create_path} %>