<div class="notification-block <%= 'unread' unless notification.read %>">
    <% if notification.link.present? %>
        <%= link_to notification.message, notification.link, method: :patch %>
    <% else %>
        <p><%= notification.message %></p>
    <% end %>
</div>