<div class="DefaultForm">
<div id="Buttons">
    <h1 id="MainHeader">LOG IN</h1>
    <hr class='DivisionLine'>
    <%= render 'login_form' %>

    <%= link_to "I don't have an account", registration_path, class: 'AnotherOption', id: 'LoggingInOption' %><br>
</div>
    <%= image_tag '4in1.png', id: 'FourInOne'%>
</div>