<div class="DefaultForm">
<div id="Buttons">
    <h1 id="MainHeader">LOG IN</h1>
    <hr class='DivisionLine'>
    <p class="Info">Personal account</p>

    <form autocomplete="on" action="Some action" id="LoginForm">
                <input type="text" name="login" value=""
                    placeholder="Enter login..." size="34" maxlength="50" required><br><br>

                <input type="password" name="password" value="" 
                    placeholder="Enter password..." size="34" maxlength="50" required><br>

                <p class="error">Invalid login or password</p> 

                <input id="Submit" class='Button' type="submit" value="Log in" onclick="alert('Some alert')">
    </form>

    <%= link_to 'Choose another account type', login_path, class: 'Button' %><br>
    <%= link_to "I don't have an account", registration_path, class: 'AnotherOption', id: 'LoggingInOption' %><br>
</div>
    <%= image_tag '4in1.png', id: 'FourInOne'%>
</div>