<div class='form'>
        <h1 class='formHeader'>SIGN UP</h1>
        <hr class='divisionLine'>
        <%= render 'form' %>
        <%= link_to "I already have an account", login_path, class: 'anotherOption' %>

        <p class='clarificationMessage'>*You will be able to add additional information on your profile page</p>
        <div class='backgroundSet'></div>
</div>