<h1>Форма регистрации</h1>
<%= link_to 'текст ссылки (регистрация пользователя)', users_registration_user_path %><br>
<%= link_to 'текст ссылки (регистрация организации)', users_registration_organization_path %><br>
<%= link_to 'текст ссылки (форма входа)', users_login_path %><br>