<% if locals[:model].errors[locals[:parametr]].any? %> 
    <% locals[:model].errors.full_messages_for(locals[:parametr]).each do | message | %> 
        <p class="form-error"><%= message %></p>  
    <% end %> 
<% end %>