<div class="topBanner">
            <%= link_to root_path, class: 'logoLink' do %>
                <%= image_tag 'logo.png', id: 'mainLogo'%>
                <%= content_tag :span, "WorkHunt", id: "workhuntHeader"%>
            <% end %>
</div>