<h1>Стартовая страница сайта</h1>
<p>Только то, что находится в тегах body</p>
<%= link_to 'текст ссылки', root_path %><br>

<div>
    <% if user_signed_in? %>
        <% current_user.name %>
    <% elsif organization_signed_in? %>
        <% current_organization.name %>
    <% else %>
        <%= link_to 'текст ссылки (форма входа)', login_path %><br>
    <% end %>
</div>