<h1>Стартовая страница сайта</h1>
<p>Только то, что находится в тегах body</p>
<%= link_to 'текст ссылки', root_path %><br>
<%= link_to 'текст ссылки (форма входа)', users_login_path %><br>
<!--
 link_to 'User Record', user_path(@user) %>
-->