<h1>Стартовая страница сайта</h1>
<p>Только то, что находится в тегах body
    <br>Такие элементы, как шапка и подвал так же можно подключить отдельными блоками в ... /views/layouts/application.html.erb
</p>
<%= link_to 'Something', root_path %><br>

<div>
    <% if user_signed_in? %>
        <%= current_user.name %>
    <% elsif organization_signed_in? %>
        <%= current_organization.name %>
    <% end %><br>
    <%= link_to 'Log in form', login_path %><br>
</div>