<h1>Форма входа в аккаунт</h1>
<%= link_to 'текст ссылки (назад)', root_path %><br>

<%= link_to 'текст ссылки (пользователь)', login_user_path %><br>
<%= link_to 'текст ссылки (организация)', login_organization_path %><br>

<%= link_to 'текст ссылки (форма регистрации)', registration_path %><br>