<h1>Форма регистрации</h1>
<%= link_to 'sign up as an user', registration_user_path %><br>
<%= link_to 'sign up as an organization', registration_organization_path %><br>
<%= link_to 'i already have an account', login_path %><br>