<h1>Форма регистрации</h1>
<%= link_to 'текст ссылки (регистрация пользователя)', registration_user_path %><br>
<%= link_to 'текст ссылки (регистрация организации)', registration_organization_path %><br>
<%= link_to 'текст ссылки (форма входа)', login_path %><br>