<div class='form-field'>
    <%= link.address %>
    <%= button_to "Delete", user_link_path(link), method: :delete, type: 'button', class: 'button', confirm: 'Are you sure you want to delete link?' %>
</div>