<div class='formField'>
    <%= link.address %>
    <%= button_to "Delete", link_destroy_path(link), type: 'button', class: 'button', method: :delete, confirm: 'Are you sure you want to delete link?' %>
</div>