<div class='form-field'>
    <%= telephone.number %>
    <%= button_to "Delete", telephone_destroy_path(telephone), type: 'button', class: 'button', method: :delete, confirm: 'Are you sure you want to delete telephone?' %>
</div>