<div class='form-field'>
    <%= telephone.number %>
    <%= button_to "Delete", user_telephone_path(telephone), method: :delete, type: 'button', class: 'button', confirm: 'Are you sure you want to delete telephone?' %>
</div>