/* Автоматически загружается на страницы приложения */
/*Common things*/
*
{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #A6884E;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body
{
    background-image: url(20prlines.png);
    background-attachment: fixed;
    background-size: 216px, 384px, cover;
    background-color: #302A33;
}
/*Only on the LogIn page and Sign Up page*/
.TopBanner
{
    width: 100%;
    min-width: 400px;
    min-height: 80px;
    background-image: linear-gradient(to right,#302A33, #5b2775 ,#302A33);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.484);
    position: relative;
    top: 0;
    text-align: center;
    align-content: center;
}
.DefaultForm
{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
    box-sizing: border-box;
    min-width: 400px;
    max-width: 500px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.300);
    background-image: linear-gradient(#302A33,  #3E2D47);
    position: relative;
    text-align: center;
}
#MainLogo
{
    margin-right: 0px;
    width:60px;
    height:60px;
    vertical-align: sub;
}
#WorkhuntHeader
{
    padding-top: 0px;
    text-align: center;
    color: #E7E7E7;
    text-shadow: 0px 6px 6px rgba(231, 231, 231, 0.5);
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 50px;
    cursor:pointer;
    text-decoration: none;
    position: relative;
    bottom: 6px;
}
#WorkhuntHeader:hover
{
    text-shadow: 0px 6px 10px rgba(241, 241, 241, 0.7);
}
#MainHeader
{
    color: #F4D18C;
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.Button
{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #663C7B;
    color: #E0ACFA;
    font-weight: bold;
    border: hidden;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 40px;
    transition-duration: 0.4s;
    cursor:pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
    place-content: center;
}
.Button:hover
{
    background-color: #844da0;
    color: #e7bdfc;
    font-size: 21px;
    box-shadow: 0px 0px 10px 6px rgb(157, 92, 189);
    transition-duration: 0.4s;
}
.Button:active 
{
    background-color: #663C7B;
    color: #e0aef9;
    box-shadow: 0px 0px 10px 6px rgb(124, 73, 150);
    transform: translateY(4px);
    background-image: url(20prlines.png);
    background-attachment: fixed;
    background-size: 216px, 384px, cover;
    transition-duration: 0.2s;
}
.AnotherOption
{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: #E0ACFA;
    cursor:pointer;
    font-weight: bolder;
    position: relative;
    top: 200px;
}
.AnotherOption:hover
{
    color: #e6bdfa;
    text-shadow: 0 0 10px rgb(223, 170, 250);
}
#Buttons
{
    padding-top: 30px;
}
.Info
{
    font-style: italic;
    margin-bottom: 10px;
}
hr.DivisionLine
{
    display: block;
    border: 0;
    border-top: 5px dashed #262229;
    margin: 1em 0;
}
/*ONLY FOR LOGIN PAGE*/
#img1, #img2, #img3, #img4
{
    position: absolute;
    z-index: -1;
    transition-duration: 0.4s;
}
#img1
{
    left: 300px;
    bottom: 100px;
    width: 120px;
    height: 120px;
}
#img2
{
    right: 80px;
    top: 210px;
    width: 180px;
    height: 180px;
}
#img3
{
    right: 180px;
    bottom: 70px;
    width: 180px;
    height: 180px;
}
#img4
{
    left: 70px;
    top: 150px;
    width: 220px;
    height: 220px;
}
@media only screen and (max-width: 1300px) {
    #img1, #img2, #img3, #img4
    {
        opacity: 0;
    }   
}
@media only screen and (max-width: 720px) {
    #img1, #img2, #img3, #img4 
    {
        position: static;
        transition-duration: 0.4s;
        display: none;
    }
}
@media only screen and (min-width: 1900px) {
    #img1
    {
        width: 10%;
        height: auto;
    }
    #img2
    {
        width: 20%;
        height: auto;
    }
    #img3
    {
        width: 15%;
        height: auto
    }
    #img4
    {
        width: 20%;
        height: auto
    }
}
@media only screen and (min-width: 2500px) {
    #img1
    {
        opacity: 0;
    }
    #img2
    {
        opacity: 0;
    }
    #img3
    {
        opacity: 0;
    }
    #img4
    {
        opacity: 0;
    }
}
/*ONLY FOR SIGN UP PAGE*/
#FourInOne
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: 520px;
    width: auto;
    transition-duration: 0.2s;
    z-index: -2;
}
@media only screen and (max-width: 1300px) 
{
    #FourInOne
    {
        opacity: 0;
        transition-duration: 0.2s;
    }
}
@media only screen and (max-width: 950px) 
{
    #FourInOne
    {
        width: 0px;
    }
}
/*LOGGING IN*/
input[type=text],input[type=password],input[type=email],input[type=date]
{
    background-color: #262229;
    color: #E7E7E7;
    font-style: italic;
    border: 3px solid #262229;
    max-width: 450px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    transition-duration: 0.4s;
}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=date]:focus
{
    border: 3px solid #A343D3;
    border-radius: 10px;
}
#LoggingInOption
{
    top: 60px;
}
.error
{
    padding-left: 0px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #E7E7E7;
}
#LoginForm
{
    display: inline-block;
}
/*SIGNING UP*/
.SignUpForm
{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
    box-sizing: border-box;
    min-width: 400px;
    max-width: 500px;
    height: 760px;
    border-radius: 50px;
    box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.300);
    background-image: linear-gradient(#302A33,  #3E2D47);
    position: relative;
    text-align: center;
}
#FourInOneReg
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-60%) translateX(-50%);
    height: 520px;
    width: auto;
    transition-duration: 0.2s;
    z-index: -2;
}
@media only screen and (max-width: 1300px) 
{
    #FourInOneReg
    {
        opacity: 0;
        transition-duration: 0.2s;
    }
}
@media only screen and (max-width: 950px) 
{
    #FourInOneReg
    {
        width: 0px;
    }
}
input[type=text].InputName
{
    max-width: 150px;
}
input[type=text].InputSurname
{
    max-width: 220px;
}
input[type=date]
{
    background-color: #262229;
    color: #e7e7e76e;
    font-style: italic;
    border: 3px solid #262229;
    max-width: 450px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    transition-duration: 0.4s;
    position: relative;
    display: block;
}
input[type=date]:focus
{
    border: 3px solid #A343D3;
    border-radius: 10px;
}
.ItalicInfo
{
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    color: #e0acfa5c;
    font-style: italic;
    position: relative;
}
#OrgSignUpForm
{
    max-height: 700px;
}