.profile.form {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    min-width: 300px;
    max-width: 900px;
    text-align: center;
    padding: 20px 0;
    border-radius: 30px;
    /*border: 3px dashed blue;*/
}
.profile.form h2 {
    text-align: left;
    margin-left: 10%;
    padding-top: 6px;
    font-size: 22px;
    color:#E7E7E7;
    text-shadow: 0px 1px 3px rgba(231, 231, 231, 0.3);
}
.pair-container.control-buttons {
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
    min-width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
.delete-button {
    background-color: #dd182c;
    color: #E7E7E7;
}
.delete-button:hover {
    background-color: #f51e34;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 6px rgb(220, 58, 58);
}
.delete-button:active {
    background-color: #c9192a;
    color: #c2c1c1;
    box-shadow: 0px 0px 10px 6px rgb(168, 23, 35);
}
@media only screen and (max-width: 900px) {
    .pair-container.control-buttons .button
    {
        max-width: 180px;
        font-size: 14px;
        min-width: 150px;
    }
}
@media only screen and (max-width: 500px) {
    .pair-container.control-buttons {
        display: block;
        align-items: center;
        text-align: center;
    }
    .delete-button {
        margin-top: 20px;
    }
}
.pair-container.edit {
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    /*border: 3px dashed blue;*/
}
.pair-container.edit .form-field{
    margin-left: 0;
    margin-right: 0;
}
.pair-single-container.edit {
    display: block;
    margin: 0;
    /*border: 3px dashed yellow;*/
    width: 45%;
}
@media only screen and (max-width: 985px) {
    .pair-single-container.edit {
        width: 100%;
    }
}
.pair-single-container.edit .icon-placeholder {
    width: 180px;
    height: 180px;
}
@media only screen and (max-width: 610px) {
    .profile.form h2 {
        font-size: 14px;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .pair-single-container.edit .icon-placeholder {
        display: inline-block;
        text-align: center;
        width: 100px;
        margin-top: 0px;
        height: 100px;
    }
    .pair-single-container.edit.icon {
        display: flex;
        justify-content: center;
    }
}
.top-line-container.contacts {
    padding: 5px 5px ;
    width: calc(100% - 10px);
    background-color: #221f2576;
    border-radius: 5px;
    justify-content: space-between;
}
.top-line-container.contacts :nth-child(1) {
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
    flex-grow: 1;  
}
.top-line-element.contacts p {
    overflow: auto;
    font-size: 16px;
    color: #E7E7E7;
    font-weight: 600;
    transition-duration: 0.4s;
}
.top-line-element.contacts button{
    display: flex;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    margin: 0;
}
.top-line-element.contacts button img{
    width: 15px;
    height: 15px;
    transition-duration: 0.4s;
    filter: brightness(70%);
}
.top-line-element.contacts button:hover img {
    transition-duration: 0.4s;
    filter: brightness(120%) drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
}
@media only screen and (max-width: 900px) {
    .top-line-element.contacts p {
        font-size: 12px;
        font-weight: 400;
    }
}
@media only screen and (max-width: 400px) {
    .top-line-element.contacts p {
        font-size: 10px;
        font-weight: 300;
    }
}