.profile.form {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    min-width: 300px;
    max-width: 900px;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 30px;
    /*border: 3px dashed blue;*/
}
.profile.form.remove-style, .profile.form.remove-style h2
{
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}
.profile.form h2 {
    text-align: left;
    margin-left: 10%;
    padding-top: 6px;
    font-size: 22px;
    color:#E7E7E7;
    text-shadow: 0px 1px 3px rgba(231, 231, 231, 0.3);
}
.pair-container.control-buttons {
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
    min-width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
.delete-button {
    background-color: #dd182c;
    color: #E7E7E7;
}
.delete-button:hover {
    background-color: #f51e34;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 6px rgb(220, 58, 58);
}
.delete-button:active {
    background-color: #c9192a;
    color: #c2c1c1;
    box-shadow: 0px 0px 10px 6px rgb(168, 23, 35);
}
@media only screen and (max-width: 900px) {
    .pair-container.control-buttons .button
    {
        max-width: 180px;
        font-size: 14px;
        min-width: 150px;
    }
}
@media only screen and (max-width: 500px) {
    .pair-container.control-buttons {
        display: block;
        align-items: center;
        text-align: center;
    }
    .delete-button {
        margin-top: 20px;
    }
}
.pair-container.edit {
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    /*border: 3px dashed blue;*/
}
.pair-container.edit .form-field{
    margin-left: 0;
    margin-right: 0;
}
.pair-single-container.edit {
    display: block;
    margin: 0;
    /*border: 3px dashed yellow;*/
    width: 45%;
}
@media only screen and (max-width: 985px) {
    .pair-single-container.edit {
        width: 100%;
    }
}
.pair-single-container.edit .icon-placeholder {
    width: 180px;
    height: 180px;
}
@media only screen and (max-width: 610px) {
    .profile.form h2 {
        font-size: 14px;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .pair-single-container.edit .icon-placeholder {
        display: inline-block;
        text-align: center;
        width: 100px;
        margin-top: 0px;
        height: 100px;
    }
    .pair-single-container.edit.icon {
        display: flex;
        justify-content: center;
    }
}