.form {
    text-align: center;
    height: min-content;
    margin: 0 auto;
    margin-top: 5vh;
    max-width: 500px;
    min-width: 300px;
    border-radius: 40px;
    box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.300);
    background-image: linear-gradient(#302A33,  #3E2D47);
}
label {
    font-size: 18px;
}
.form-field, .radio-buttons {
    /*border: 3px solid red;*/
    margin: 20px 10% 0;
    display: block;
}
.form-field{
    text-align: left;
}
.form-field input, .form-field textarea, .form-field select {
    display: block;
    font-size: 16px;
    background-color: #262229;
    color: #bcbcbc;
    font-style: normal;
    border: 3px solid #262229;
    min-width: 200px;
    outline: none;
    padding: 10px;
    width: calc(100% - 26px);
    border-radius: 6px;
    transition-duration: 0.4s;
}
.form-field textarea {
    resize: none;
    min-width: 200px;
    height: 200px;
}
.form-field select{
    /* width: calc(100% + 5px); idk */
    width: 100%;
}
.form-field input:hover, .form-field textarea:hover, .form-field select:hover {
    background-color: #221f25;
    border-color: #221f25;
}
.form-field input:focus, .form-field textarea:focus, .form-field select:focus {
    border-color: #A343D3;
    background-color: #221f25;
    transition-duration: 0.4s;
    outline: none;
}
.form-field input:-webkit-autofill, 
.form-field input:-webkit-autofill:focus,
.form-field textarea:-webkit-autofill, 
.form-field textarea:-webkit-autofill:focus,
.form-field select:-webkit-autofill, 
.form-field select:-webkit-autofill:focus {
    transition-duration: 0.4s;
    -webkit-box-shadow: 0 0 0 1000px #221f25 inset;
    -webkit-text-fill-color: #E7E7E7;
    border-color: #221f25 !important;
    background-color: #221f25 !important;
    color: #E7E7E7 !important;
}
.button {
    background-color: #663C7B;
    color: #E0ACFA;
    font-weight: bold;
    border: hidden;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-width: 200px;
    height: 40px;
    transition-duration: 0.4s;
    display: inline-block;
    margin-top: 20px;
}
.button:hover {
    background-color: #844da0;
    color: #e7bdfc;
    font-size: 21px;
    box-shadow: 0px 0px 10px 6px rgb(157, 92, 189);
    transition-duration: 0.4s;
}
a.button {
    text-align: center;
    height: auto;
    padding-top: 9px;
    padding-bottom: 9px;
}
.button:active {
    background-color: #663C7B;
    color: #e0aef9;
    box-shadow: 0px 0px 10px 6px rgb(91, 53, 109);
    transform: translateY(4px);
    background-image: url(20prlines.png);
    background-attachment: fixed;
    background-size: 216px, 384px, cover;
    transition-duration: 0.2s;
}
.button.disable,
.button.disable:hover,
.button.disable:active{
    font-size: 16px;
    background-color: #6d507b;
    color: #e1c1f1;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    background-image: url(20prlines.png);
    background-attachment: fixed;
    background-size: 216px, 384px, cover;
    transform: none;
}
.another-option {
    margin-top: 60px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: #E0ACFA;
    font-weight: bolder;
    display: block;
    height: 40px;
}
.another-option:hover {
    color: #e6bdfa;
    text-shadow: 0 0 10px rgb(223, 170, 250);
}
.form-header {
    color: #F4D18C;
    font-size: 38px;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}
.form-error {
    text-align: left;
    color: #aa2424;
    font-style: italic;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-right: 10%;
}
@media only screen and (max-width: 600px) {
    .form {
        width: 80%;
    }
}
.background-set {
    position: absolute;
    top: calc(400px + 3vh);
    left: 50%;
    transform: translateY(-60%) translateX(-50%);
    height: 540px;
    width: 1080px;
    transition-duration: 0.4s;
    z-index: -1;
    background-image: url('4in1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media only screen and (max-width: 1120px) {
    .background-set {
      opacity: 0;
      transition-duration: 0.4s;
    }
 }
 @media only screen and (max-width: 1080px) {
    .background-set {
      display: none;
    }
 }
 @media only screen and (max-width: 900px) {
    .button
    {
        max-width: 180px;
        font-size: 14px;
        min-width: 150px;
    }
}
@media only screen and (max-width: 500px) {
    .label {
        font-size: 14px;
    }
    .form-field, .radio-buttons {
        margin-top: 5px;
    }
    .another-option{
        margin-top: 10px;
        font-size: 14px;
        height: 30px;
    }
    .form-header{
        font-size: 30px;
        margin-top: 10px;
    }
    .form {
        margin-top: 2vh;
    }
}
.form-field select:hover option:checked {
    background-color:  #1e1b22;
    color: #F4D18C;
}
.form-field select option {
    color: #d2d2d2;
    font-size: 14px;
}
.form-field select option:checked {
    background-color:  #221f25;
    color: #F4D18C;
    padding: 2px;
    font-size: 15px;
}
.form-field select option:hover {
    color: #fffefb;
    background-color:  #1e1b22;
}
@media only screen and (max-width: 600px)
{
    .form-field input, .form-field textarea, .form-field select
    {
        font-size: 12px;
    }
    .form-field label
    {
        font-size: 14px;
    }
}
input[type=submit] {
    cursor: pointer;
}

.dangerous.button {
    background-color: #dd182c;
    color: #E7E7E7;
}
.dangerous.button:hover {
    background-color: #f51e34;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 6px rgb(220, 58, 58);
}
.dangerous.button:active {
    background-color: #c9192a;
    color: #c2c1c1;
    box-shadow: 0px 0px 10px 6px rgb(168, 23, 35);
}