.top-banner {
    display: flex;
    width: 100%;
    min-width: 300px;
    min-height: 50px;
    background-image: linear-gradient(to right,#302A33, #5b2775 ,#302A33);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.484);
    position: relative;
    top: 0;
    text-align: center;
    align-content: center;
    justify-content: center;
    z-index: 5;
}
.logo-link {
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.logo-link img {
    width:60px;
    height:60px;
    transition-duration: 0.4s;
}
.logo-link span {
    font-size: 50px;
    font-weight: bold;
    color: #E7E7E7;
    text-shadow: 0px 4px 6px rgba(231, 231, 231, 0.5);
    padding: 5px 10px 5px 10px;
    transition-duration: 0.4s;
}
.logo-link:hover span {
    text-shadow: 0px 6px 10px rgba(241, 241, 241, 0.7);
}
.logo-link:hover img {
    filter: saturate(150%)  drop-shadow(0px 0px 10px rgba(231, 231, 231, 0.5));
}
.account-button {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    text-align: center;
    background-color: #675A41;
    background-image: url(20prlines.png);
    background-attachment: fixed;
    background-size: 216px, 384px, cover;
    border-radius: 40px;
    transition-duration: 0.4s;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.3);
    border: 5px dashed #d7b064;
    color: #d7b064;
}
.account-menu {
    display: none;
    position: absolute;
    background-color: #E7E7E7;
    min-width: 160px;
    box-shadow: 6px 8px 8px 1px rgba(0,0,0,0.4);
    z-index: 1;
    list-style-type: none;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
}
.dropdown {
    display: inline-block;
    justify-content: center;
}
.dropdown:hover .account-menu {
    display: block;
}
.dropdown:hover .account-button {
    background-color: #8b7956;
    color: #F4D18C;
    box-shadow: 0px 0px 10px 6px rgb(172, 151, 108, 0.6);
    transition-duration: 0.4s;
}
.account-menu li a, .logout-button {
    display: flex;
    justify-content: left;
    align-items: center;
}
.account-menu li a {
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
}
.account-menu li a img{
    width: 22%;
    height: 22%;
    margin-right: 10px;
}
.account-menu li a:hover {
    background-color: #c9c9c9 ;
}
.account-menu li hr.division-line {
    border: 1px dashed #9f62be;
    margin: 10px 0px 10px 0px;
}
.logout-button {
    font-size: 14px;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background-color: #E7E7E7;
    color: #9f62be;
}
.logout-button img{
    width: 22%;
    height: 22%;
    margin-right: 10px;
}
.logout-button:hover {
    background-color:#c9c9c9 ;
}
.account-menu {
    top: 100%;
    right: 2%;
}
.header-limit {
    width: 100%;
    max-width: 1600px;
    min-width: 300px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header-element {
    display: inline-flex;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.small-width-menu {
    display: none;
}
.small-width-menu hr {
    border: 1px dashed #8b7956;
    margin: 10px 0px 10px 0px;
}
.small-button {
    display: none;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    text-align: center;
    background-color: #675A41;
    background-image: url(20prlines.png);
    background-attachment: fixed;
    background-size: 216px, 384px, cover;
    border-radius: 5px;
    transition-duration: 0.4s;
    padding: 5px 8px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.3);
    border: 3px dashed #d7b064;
    color: #d7b064;
}

@media only screen and (max-width: 600px) 
{
    .logo-link img {
        width:30px;
        height:30px;
        transition-duration: 0.4s;
    }
    .logo-link span {
        font-size: 25px;
        padding: 2px 5px 2px 5px;
        transition-duration: 0.4s;
    }
    .small-width-menu {
        display: block;
    }
    .account-button {
        display: none;
    }
    .small-button {
        display: inline-block;
    }
    .top-banner {
        padding: 1vh 0;
    }
}
@media (max-width: 350px) {
    .small-Button {
        font-size: 10px;
    }
}