.commonInfo
{
    width: 80%;
    margin: 0 auto;
    display: block;
    min-width: 300px;
    /*border: 3px solid red;*/
    max-width: 900px;
    text-align: center;
    height: min-content;
}
.userInfo
{
    width: 80%;
    margin: 0 auto;
    display: block;
    min-width: 300px;
    /*border: 3px solid red;*/
    max-width: 900px;
    text-align: center;
    height: min-content;
}
.formField input[type=date]
{
    font-size: 16px;
    background-color: #262229;
    color: #E7E7E7;
    font-style: normal;
    border: 3px solid #262229;
    width: 80%;
    min-width: 140px;
    outline: none;
    height: 36px;
    border-radius: 6px;
    transition-duration: 0.4s;
}
.formField input[type=date]:focus
{
    border-color:  #A343D3;
}
.formField textarea
{
    font-size: 16px;
    background-color: #262229;
    color: #E7E7E7;
    font-style: normal;
    border: 3px solid #262229;
    outline: none;
    border-radius: 6px;
    transition-duration: 0.4s;
    resize: none;
    width: 80%;
    min-width: 200px;
    height: 200px;
    padding: 9px 9px;
}
.formField textarea:focus
{
    border-color:  #A343D3;
    transition-duration: 0.4s;
}
.editContainer
{
    align-items: center;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 10%;
}
.editContainer .formElement
{
    margin-left: 0px;
    flex: 1;
    margin-right: 80px;
    display: block;
}
.editContainer.formField 
{
    display: inline-flex;
    margin-right: 20px;
}
.selectbox
{
    font-size: 16px;
    background-color: #262229;
    color: #E7E7E7;
    border: 3px solid #262229;
    border-radius: 6px;
    padding: 8px;
    transition-duration: 0.4s;
}
.selectbox:focus
{
    border-color:  #A343D3;
    transition-duration: 0.4s;
    outline: none;
}
.editTitle
{
    margin-top: 20px;
    font-size: 35px;
    color: #F4D18C;
    margin-left: 10%;
    text-align: left;
    display: block;
}
.editButtons
{
    width: 50%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*border: 3px solid red;*/
}
.deleteButton {
    background-color: #dd182c;
    color: #E7E7E7;
}
.deleteButton:hover {
    background-color: #f51e34;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 6px rgb(220, 58, 58);
}
.deleteButton:active {
    background-color: #c9192a;
    color: #c2c1c1;
    box-shadow: 0px 0px 10px 6px rgb(168, 23, 35);
}
@media only screen and (max-width: 800px) {
    .editButtons
    {
        width: 50%;
        max-width: 700px;
        display: block;
    }
    .deleteButton
    {
        margin-top: 10px;
    }
 }