.search-form
{
    display: block;
    width: 100%;
    max-width: 1080px;
    min-width: 300px;
    padding-top: 5px;
    margin: 0 auto;
    background-image: linear-gradient(#302A33, #3b2e43);
    box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.300);
    border-radius: 10px;
}
.search-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-field input{
    width: 80%;
}
.search-field input[type="submit"] {
    font-size: 16px;
    width: 20%;
    background-color: #663C7B;
    color: #E0ACFA;
    border:hidden;
    font-weight: bold;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
    display: block;
    margin-left: 10px;
    min-width: 120px;
}
.search-field input[type="submit"]:hover {
    background-color: #844da0;
    color: #e7bdfc;
    border:hidden;
    font-size: 17px;
    box-shadow: 0px 0px 10px 2px rgb(157, 92, 189);
    transition-duration: 0.4s;
}
.search-field input[type="submit"]:active {
    background-color: #663C7B;
    color: #e0aef9;
    border:hidden;
    box-shadow: 0px 0px 10px 6px rgb(91, 53, 109);
    background-image: url(20prlines.png);
    background-attachment: fixed;
    background-size: 216px, 384px, cover;
    transition-duration: 0.2s;
}
.button.open-drop {
    display: block;
    width: calc(100% - 40px);
    max-width: 1080px;
    min-width: 220px;
    padding: 2px 20px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.300);
    border-radius: 0px 0px 10px 10px;
    font-size: 12px;
    text-align: center;
    z-index: 5;
    cursor: pointer;
}
.button.open-drop:hover{
    background-color: #844da0;
    color: #e7bdfc;
    box-shadow: 0px 0px 6px 3px rgb(157, 92, 189, 0.5);
}
@media only screen and (max-width: 500px) {
    .search-field {
        display: block;
    }
    .search-field input[type="submit"] {
        margin-left: 0px;
        margin-top: 10px;
        display: inline-block;
    }
    .search-field input{
        width: 100%;
    }
}
#search-drop-block {
    background-image: linear-gradient(#302A33, #3b2e43);
    box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.300);
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px;
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    min-width: 300px;
}
#search-drop-block .form-field {
    width: 25%;
}

/*navigation*/
div#search-results .brief-card:first-of-type {
    margin-top: 0px;
}
div#search-results .brief-card:last-of-type {
    margin-bottom: 0px;
}
nav.nav.pagy {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    min-width: 300px;
}
div#search-results nav.nav.pagy {
    margin-top: 18px;
}
div#search-results nav.nav.pagy:first-child {
    margin-bottom: 18px;
}
div#search-results nav.nav.pagy:last-child {
    padding-bottom: 18px;
}
nav.nav.pagy a {
    background-color: #663C7B;
    color: #F4D18C;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    display: inline-flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.300);
    cursor: pointer;
    border: none;
}
nav.nav.pagy a:not(a.current):hover {
    background-color: #A343D3;
    color: #E7E7E7;
    outline: 2px solid #E0ACFA;
}
nav.nav.pagy a:not(a.current):active{
    transform: translateY(2px);
    background-color: #74468b;
    outline: 2px solid #9b78ad;
    transition-duration: 0.2s;
}
nav.nav.pagy a.current {
    background-color: #513062;
    color: #ccb077;
    width: 32px;
    height: 32px;
    font-size: 13px;
    cursor: default;
}
nav.nav.pagy a:not(:first-child) {
    margin-left: 1vh;
}
nav.nav.pagy a[aria-disabled=true]:not(a.current) {
    display: none;
}
@media only screen and (max-width: 600px) {
    nav.nav.pagy a {
        font-size: 12px;
        width: 30px;
        height: 30px;
    }
    nav.nav.pagy a.current {
        width: 27px;
        height: 27px;
        font-size: 11px;
    }
}
@media only screen and (max-width: 400px) {
    nav.nav.pagy a {
        font-size: 10px;
        width: 25px;
        height: 25px;
    }
    nav.nav.pagy a:not(a.current):hover {
        outline: 1px solid #E0ACFA;
    }
    nav.nav.pagy a.current {
        width: 22px;
        height: 22px;
    }
}