.vacancy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    margin: 2vh auto;
    width: 100%;
    min-width: 300px;
    max-width: 900px;
    border-radius: 30px;
    box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.300);
    background-image: url('pattern 2.png'),linear-gradient(#302A33, #3b2e43);
    background-size: contain;
    background-position: bottom;
    background-repeat: repeat-x;
}
.vacancy-info {
    padding: 10px 15px;
    display: block;
    width: 80%;
    position: relative;
    /*border: 3px dashed blue;*/
}
.vacancy h2, .profile.form .vacancy h2 
{
    margin: 0;
    font-size: 22px;
    text-align: left;
    color: #F4D18C;
}
.vacancy-info p:first-of-type, .vacancy p:first-of-type a {
    color: #E0ACFA;
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0px;
}
.vacancy-info p:first-of-type img {
    height: auto;
    width: 2%;
    min-width: 8px;
}
.vacancy-info p 
{
    font-size: 14px;
    color: #A343D3;
}
.vacancy-info .salary-field
{
    font-size: 16px;
    font-weight: bold;
    color: #F4D18C;
    margin: 5px 0px;
}
.vacancy .icon-placeholder {
    align-items: content;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.vacancy-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    /*border: 3px solid red;*/
}
.vacancy-buttons > *
{
    display: flex;
    text-align: center;
}
.vacancy-buttons a{
    margin-left: 15px;
}
.vacancy-buttons button {
    display: flex;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
}
.vacancy-buttons button img {
    width: 24px;
    height: 24px;
    filter: brightness(80%);
}
.vacancy-buttons a img {
    width: 24px;
    height: 24px;
}
.vacancy-buttons button:hover img {
    filter: brightness(130%) drop-shadow(0px 0px 10px rgb(255, 53, 53));
}
.vacancy-buttons a:hover img {
    filter: brightness(130%) drop-shadow(0px 0px 10px rgba(244, 209, 140, 0.5));
}
.top-line-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-line-element {
    display: block;
    /*border: 3px solid gold;*/
}
@media only screen and (max-width: 900px) {
    .vacancy .icon-placeholder {
        width: 60px;
        height: 60px;
    }
    .vacancy-info {
        padding: 5px 10px;
    }
    .vacancy h2, .profile.form .vacancy h2 
    {
        font-size: 18px;
    }
    .vacancy p:first-of-type, .vacancy p:first-of-type a {
        font-size: 14px;
        margin: 2px 0px;
    }
    .vacancy p 
    {
        font-size: 12px;
    }
    .vacancy .salary-field
    {
        font-size: 14px;
        margin: 3px 0px;
    }
    .vacancy-buttons a img {
        width: 20px;
        height: 20px;
    }
}
.detailed-tag-info.vacancy-tag {
    max-width: 90%;
    margin: 0;
    margin: 1% 1%;
}
.vacancy-info.status {
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    max-width: 900px; 
    padding: 0px 0px;
    margin-top: 2vh;
}
@media only screen and (max-width: 500px) {
    .vacancy .icon-placeholder {
        width: 60px;
        height: 60px;
        margin-top: 5px;
    }
    .vacancy-info {
        padding: 5px 10px;
    }
    .vacancy h2, .profile.form .vacancy h2 
    {
        margin: 0;
        font-size: 15px;
    }
    .vacancy p:first-of-type, .vacancy p:first-of-type a {
        font-size: 12px;
        margin: 2px 0px;
    }
    .vacancy p 
    {
        font-size: 10px;
    }
    .vacancy .salary-field
    {
        font-size: 12px;
        margin: 3px 0px;
    }
    .vacancy-buttons button img {
        width: 12px;
        height: 12px;
    }
    .vacancy-buttons a img {
        width: 16px;
        height: 16px;
    }
}