<div class='form-field'>
    <%= email.address %>
    <%= button_to "Delete", email_destroy_path(email), type: 'button', class: 'button', method: :delete, confirm: 'Are you sure you want to delete email?' %>
</div>