<div class='form-field'>
    <%= email.address %>
    <%= button_to "Delete", user_email_path(email), method: :delete, type: 'button', class: 'button', confirm: 'Are you sure you want to delete email?' %>
</div>